.notifications .alert {
  position: relative;
  padding-left: 60px; }
.notifications .alert-icon {
  display: block;
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 32px; }
.notifications .close {
  display: block;
  position: absolute;
  top: 3px;
  right: 10px; }
