.truncate-text-container {
  position: relative;
  }
.truncate-text-content {
  position: absolute;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
.truncate-text-spacer {
  height: 0;
  overflow: hidden;
  }